html{
    background-color: aquamarine;
    text-align: center;
}
.foto-perfil{
    border-radius: 50%;
    height: 15em;
    padding-top: 4em;
    padding-bottom: 2em;
}
.foto-perfil:hover{
   content:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGleA-M_xno9NUrwMniCXMzxy6HeQ1yK2aFfMZ5uF2zKqFstFBG7mghyvngSyneBIpNZ4&usqp=CAU")
}
.foto-juego{
    height: 7em;
    width: 7em;
}
table{
    margin-left: 7em;
    margin-right: 7em;
    padding: 1em;
    border: solid black 2px;
    border-collapse: collapse;

}
td{
    border: solid black 2px;
}
.contenedor_principal{
    margin: 3em;
    margin-left:25em;
    margin-right: 25em;
    background-color: white;
    border-radius: 15%;
    border: solid black 5px;
    box-shadow: 10px 10px 10px rgb(0, 111, 113);
}
.texto{
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}
button{
    margin-top: 2em;
    margin-bottom: 3em;
    background-color: yellow;
    height: 3em;
    width: 7em;
}